<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BSKYDL - Bluesky Video Downloader</title>
    <meta property="og:title" content="BSKYDL - Bluesky Video Downloader" />
    <meta name="twitter:title" content="BSKYDL - Bluesky Video Downloader" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
    <meta
      name="description"
      content="BSKYDL is a free Bluesky Video Downloader online where you can download high-quality MP4 videos from Bluesky social."
    />
    <meta
      property="og:description"
      content="BSKYDL is a free Bluesky Video Downloader online where you can download high-quality MP4 videos from Bluesky social."
    />
    <meta
      name="twitter:description"
      content="Easily download videos from Bluesky to your device!"
    />
    <meta
      property="og:image"
      content="https://bskydl.top/share.png"
    />
    <meta
      name="twitter:image"
      content="https://bskydl.top/share.png"
    />
    <link href="res/tailwind.min.css" rel="stylesheet">
    <style>
      body {
        font-family: "Montserrat", sans-serif;
      }
      .text-blue-bsky {
        color: rgb(32, 139, 254);
      }

      .bg-blue-bsky {
        background-color: rgb(28, 132, 220);
      }

      .bg-slate {
        background-color: #1c273b;
      }

      .bg-slate-800 {
        background-color: #1e293b;
      }

      .bg-slate-900 {
        background-color: #0f172a;
      }

      .bg-blue-kofi {
        background-color: #13c3ff;
      }

      .player {
        max-width: 480px;
        width: 100%;
        margin: 0 auto;
      }
    </style>
    <script src="res/ffmpeg.min.js"></script>
    <script src="res/vue.min.js"></script>
    <link
      rel="icon"
      href="img/bdli.png"
    />
  </head>

  <body class="bg-slate-800 text-white p-4">
    <div class="mt-10 mb-5 flex justify-center items-center">
      <a href="">
        <img class="mb-2" src="img/logo.png" alt="logo" width="300">
      </a>
    </div>
    <div
      id="app"
      class="max-w-4xl mx-auto p-4 rounded-lg mt-6 bg-slate shadow-md"
    >
      <p class="text-white text-center mb-6">
        <strong>Download Bluesky videos!</strong> Enter
        a Bluesky video post URL:
      </p>

      <form @submit.prevent="processVideo" class="mb-2 flex">
        <input
          v-model="postUrl"
          type="text"
          class="w-full p-2 rounded flwx-grow mr-2 shadow bg-slate-900"
          placeholder="https://bsky.app/profile/user.bsky.social/post/aEzakMi2004"
          required
        />
        <button
          type="submit"
          :disabled="status.length > 0"
          class="bg-blue-bsky text-white rounded-full px-4 shadow hover:bg-slate-900 transition-colors flex items-center gap-2 font-bold"
        >
          <span class="mr-1">
            <svg
              fill="#fff"
              height="20px"
              width="20px"
              viewBox="0 0 29.978 29.978"
            >
              <g>
                <path
                  d="M25.462,19.105v6.848H4.515v-6.848H0.489v8.861c0,1.111,0.9,2.012,2.016,2.012h24.967c1.115,0,2.016-0.9,2.016-2.012
      v-8.861H25.462z"
                />
                <path
                  d="M14.62,18.426l-5.764-6.965c0,0-0.877-0.828,0.074-0.828s3.248,0,3.248,0s0-0.557,0-1.416c0-2.449,0-6.906,0-8.723
      c0,0-0.129-0.494,0.615-0.494c0.75,0,4.035,0,4.572,0c0.536,0,0.524,0.416,0.524,0.416c0,1.762,0,6.373,0,8.742
      c0,0.768,0,1.266,0,1.266s1.842,0,2.998,0c1.154,0,0.285,0.867,0.285,0.867s-4.904,6.51-5.588,7.193
      C15.092,18.979,14.62,18.426,14.62,18.426z"
                />
              </g>
            </svg>
          </span>
          <span>LOAD</span>
        </button>
      </form>

      <div class="my-4">
        <a
          v-if="downloadReady"
          :href="downloadLink"
          class="block w-full bg-green-500 text-white text-center py-2 rounded hover:bg-green-600 transition-colors mb-2 font-bold text-xl"
          :download="`${postCid}.mp4`"
          >Download (.mp4)</a
        >

        <!--a
          v-if="originalDownloadLink"
          :href="originalDownloadLink"
          class="block w-full bg-green-500 text-white text-center py-2 rounded hover:bg-green-600 transition-colors mb-2 font-bold"
          :download="`${postCid}.ts`"
          >Download (.ts)</a
        >

        <a
          v-if="downloadReady && subtitleUrl.length > 0"
          :href="subtitleUrl"
          class="block w-full bg-blue-500 text-white text-center py-2 rounded hover:bg-blue-600 transition-colors mb-2 text-sm font-bold"
          download
          >Download Subtitles ({{subtitleLang}}.vtt)</a
        -->
      </div>

      <div
        v-if="progressBarVisible"
        class="w-full bg-gray-300 rounded h-8 mb-4"
      >
        <div
          class="bg-green-500 h-full rounded transition-all duration-300"
          :style="{ width: progress + '%' }"
        ></div>
      </div>
      <div v-if="status" class="text-center font-semibold mb-4 mt-4">
        {{ status }}
      </div>

      <div class="py-4" v-if="videoPreviewVisible">
        <video
          :key="postCid"
          controls
          class="player rounded shadow overflow-hidden bg-black"
          preload="metadata"
        >
          <source :src="downloadLink" type="video/mp4" />
          <track
            :label="subtitleLang"
            kind="subtitles"
            v-if="downloadReady && subtitleUrl.length > 0"
            :srclang="subtitleLang"
            :src="subtitleUrl"
            default
          />
        </video>
      </div>

      <div class="mt-6 overflow-auto" v-if="urlHistory.length > 0">
        <table
          class="table-auto w-full bg-white shadow-md overflow-hidden rounded-lg"
        >
          <thead class="bg-blue-bsky text-white">
            <tr>
              <th class="px-4 py-2  text-left text-xs" colspan="2">
                History
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(url, index) in urlHistory"
              :key="postCid"
              :class="{
                'bg-slate-900': index % 2 !== 0,
                'bg-slate-800': index % 2 === 0
              }"
            >
              <td class="px-4 py-2 ">
                <a
                  :href="url"
                  class="text-blue-bsky "
                  target="_blank"
                  rel="noopener"
                  >{{ url }}</a
                >
              </td>
              <td
                class="px-2 py-2  text-right"
                style="min-width: 220px"
              >
                <button
                  class="bg-blue-bsky text-white px-3 py-2 mb-2 rounded-full font-bold hover:bg-blue-600 text-xs shadow"
                  @click="fillAndDownload(url)"
                >
                  Download
                </button>
                <button
                  class="bg-red-500 text-white px-3 py-2 rounded-full font-bold hover:bg-red-600 ml-2 text-xs shadow"
                  @click="removeFromHistory(url)"
                >
                  Remove
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <!--div class="mt-8 mb-5 text-center">
        <a href="https://antsocial.club">@antsocial.club<a/> - <a href="https://hkr.pw">@hkr.pw<a/>
    </div-->
    <div class="mt-8 mb-6 text-center text-xs">
      <div class="mb-5">
        This site does not use any cookies or collect any data. This site is not related to Bluesky.
      </div>
    </div>
    <div class="mb-5 text-center text-s uppercase">
      <a href="">BSKYDL<a/> - 2024
    </div>
    <script>
      const { createFFmpeg, fetchFile } = FFmpeg;

      Vue.createApp({
        data() {
          return {
            ffmpeg: null,
            postUrl: "",
            postCid: "",
            status: "",
            progress: 0,
            convertProgress: 0,
            progressBarVisible: false,
            thumbnailVisible: false,
            videoPreviewVisible: false,
            videoPreviewUrl: "",
            downloadReady: false,
            originalDownloadLink: "",
            downloadLink: "",
            urlHistory: [], // List of URLs stored in localStorage
            subtitleLang: "",
            subtitleUrl: "",
          };
        },
        async mounted() {
          // Load history from localStorage
          this.loadHistory();

          this.ffmpeg = createFFmpeg({
            log: false,
            progress: ({ ratio }) => {
              this.progress = parseInt((ratio * 100).toFixed(2) / 2) + 50;
            },
          });

          // Check for the 'url' query parameter and set postUrl
          const urlParams = new URLSearchParams(window.location.search);
          const url = urlParams.get("url");
          if (url) {
            this.postUrl = url;
            this.processVideo(); // Automatically run processVideo if the url is filled
          }

          if (!this.ffmpeg.isLoaded()) await this.ffmpeg.load();
        },
        methods: {
          loadHistory() {
            // Load the saved URLs from localStorage
            const savedHistory =
              JSON.parse(localStorage.getItem("urlHistory")) || [];
            this.urlHistory = savedHistory.slice(0, 20); // Keep only the last 20 URLs
          },
          saveToHistory(url) {
            // Check if the URL already exists in the history
            const existingIndex = this.urlHistory.indexOf(url);
            if (existingIndex !== -1) {
              // Remove the existing URL to avoid duplicates
              this.urlHistory.splice(existingIndex, 1);
            }

            // Add the URL to the beginning of the history array
            this.urlHistory.unshift(url);

            // Keep only the last 20 entries
            if (this.urlHistory.length > 20) {
              this.urlHistory.pop();
            }

            // Save the updated history in localStorage
            localStorage.setItem("urlHistory", JSON.stringify(this.urlHistory));
          },
          removeFromHistory(url) {
            // Remove the URL from history
            this.urlHistory = this.urlHistory.filter((item) => item !== url);

            // Save the updated history to localStorage
            localStorage.setItem("urlHistory", JSON.stringify(this.urlHistory));
          },
          fillAndDownload(url) {
            // Fill the form with the selected URL and trigger the download process
            this.postUrl = url;
            this.processVideo();
          },
          async processVideo() {
            this.resetState();

            const postUrl = this.postUrl;

            this.status = "Initializing...";
            this.downloadLink = "";
            this.downloadReady = false;
            this.videoPreviewVisible = false;

            try {
              const { profile, post } = this.extractProfileAndPost(postUrl);
              const threadRes = await fetch(`
                https://public.api.bsky.app/xrpc/app.bsky.feed.getPostThread?uri=at://${profile}/app.bsky.feed.post/${post}&depth=10
              `);
              const data = await threadRes.json();

              console.log(data);

              this.postCid = data.thread.post.cid;

              let playlistUrl;

              if (
                data.thread.post.embed["$type"] === "app.bsky.embed.video#view"
              ) {
                playlistUrl = data.thread.post.embed.playlist;
              } else if (
                data.thread.post.embed["$type"] ===
                "app.bsky.embed.recordWithMedia#view"
              ) {
                playlistUrl = data.thread.post.embed.media.playlist;
              }

              this.status = "Downloading...";
              this.progressBarVisible = true;

              const videoBlob = await this.proccessPlaylist(playlistUrl);

              this.status = "Processing...";

              this.originalDownloadLink = URL.createObjectURL(videoBlob);

              if (!this.ffmpeg.isLoaded()) await this.ffmpeg.load();

              this.status = "Converting to mp4...";

              this.progress = 60;
              this.ffmpeg.FS(
                "writeFile",
                "input.ts",
                await fetchFile(videoBlob)
              );

              this.progress = 80;

              await this.ffmpeg.run(
                "-i",
                "input.ts",
                "-map",
                "0",
                "-c",
                "copy",
                `video-${post}.mp4`
              );
              this.progress = 100;

              const videoData = this.ffmpeg.FS("readFile", `video-${post}.mp4`);
              const mp4Blob = new Blob([videoData.buffer], {
                type: "video/mp4",
              });

              this.downloadLink = URL.createObjectURL(mp4Blob);
              this.downloadReady = true;
              this.progressBarVisible = false;
              this.videoPreviewVisible = true;
              this.status = "";

              // Save the current URL to the history
              this.saveToHistory(this.postUrl);
            } catch (error) {
              if (this.originalDownloadLink.length === 0) {
                this.status = "Downloading...";
                const { profile, post } = this.extractProfileAndPost(
                  this.postUrl
                );
                const threadRes = await fetch(
                  `https://public.api.bsky.app/xrpc/app.bsky.feed.getPostThread?uri=at://${profile}/app.bsky.feed.post/${post}&depth=10`
                );
                const data = await threadRes.json();

                let playlistUrl;

                if (
                  data.thread.post.embed["$type"] ===
                  "app.bsky.embed.video#view"
                ) {
                  playlistUrl = data.thread.post.embed.playlist;
                } else if (
                  data.thread.post.embed["$type"] ===
                  "app.bsky.embed.recordWithMedia#view"
                ) {
                  playlistUrl = data.thread.post.embed.media.playlist;
                }

                const videoBlob = await this.proccessPlaylist(playlistUrl);
                this.originalDownloadLink = URL.createObjectURL(videoBlob);
              }

              this.status =
                error.message || "An error occurred. Please try again.";

              if (this.status === "Out of memory")
                this.status =
                  "Your device is out of memory to convert the file. Please close other tabs and/or apps and try again later.";
            }
          },
          extractProfileAndPost(postUrl) {
            const regex = /profile\/([^\/]+)\/post\/([^\/]+)/;
            const matches = postUrl.match(regex);
            if (!matches) throw new Error("Invalid URL format");
            return { profile: matches[1], post: matches[2] };
          },
          async proccessPlaylist(playlistUrl) {
            const masterPlaylistResponse = await fetch(playlistUrl);
            const masterPlaylist = await masterPlaylistResponse.text();

            await this.setSubtitleUrl(
              playlistUrl,
              this.extractSubtitleLang(masterPlaylist)
            );

            const videoPlaylistUrl = this.parseHighestQualityVideoUrl(
              masterPlaylist,
              playlistUrl
            );
            const videoPlaylistResponse = await fetch(videoPlaylistUrl);
            const videoPlaylist = await videoPlaylistResponse.text();
            const segmentUrls = this.parseSegmentUrls(
              videoPlaylist,
              videoPlaylistUrl
            );

            return this.downloadSegments(segmentUrls);
          },
          extractSubtitleLang(m3u8Content) {
            // Split the content by lines
            const lines = m3u8Content.split("\n");

            // Loop through lines to find the subtitle information
            for (const line of lines) {
              if (
                line.startsWith("#EXT-X-MEDIA") &&
                line.includes("TYPE=SUBTITLES")
              ) {
                // Extract the LANGUAGE value using a regular expression
                const langMatch = line.match(/LANGUAGE="([^"]+)"/);

                if (langMatch) {
                  return langMatch[1]; // Return the extracted language
                }
              }
            }

            return null; // Return null if no subtitle found
          },
          async setSubtitleUrl(playlistUrl, lang) {
            this.subtitleLang = lang;

            if (lang) {
              this.subtitleUrl = await this.convertUrlToBlobUrl(
                `${playlistUrl.replace(
                  "playlist.m3u8",
                  ""
                )}subtitles/${lang}.vtt`
              );
            }
          },
          parseHighestQualityVideoUrl(masterPlaylist, baseUrl) {
            let highestBandwidth = 0;
            let highestQualityUrl = "";
            masterPlaylist.split("\n").forEach((line, i, lines) => {
              if (line.startsWith("#EXT-X-STREAM-INF")) {
                const bandwidth = parseInt(line.match(/BANDWIDTH=(\d+)/)[1]);
                if (bandwidth > highestBandwidth) {
                  highestBandwidth = bandwidth;
                  highestQualityUrl = lines[i + 1];
                }
              }
            });
            return new URL(highestQualityUrl, baseUrl).toString();
          },
          parseSegmentUrls(videoPlaylist, baseUrl) {
            return videoPlaylist
              .split("\n")
              .filter((line) => !line.startsWith("#") && line.trim() !== "")
              .map((segment) => new URL(segment, baseUrl).toString());
          },
          async downloadSegments(segmentUrls) {
            const chunks = [];
            for (let i = 0; i < segmentUrls.length; i++) {
              const response = await fetch(segmentUrls[i]);
              chunks.push(await response.arrayBuffer());
              this.progress = ((i + 1) / segmentUrls.length) * 50;
            }
            return new Blob(chunks, { type: "video/MP2T" });
          },
          async convertUrlToBlobUrl(url) {
            try {
              // Fetch the data from the URL
              const response = await fetch(url);

              // Check if the response is successful
              if (!response.ok) {
                throw new Error(
                  `Failed to fetch data from URL: ${response.statusText}`
                );
              }

              // Get the response as a blob
              const blob = await response.blob();

              // Create a Blob URL from the blob
              const blobUrl = URL.createObjectURL(blob);

              // Return the Blob URL
              return blobUrl;
            } catch (error) {
              console.error("Error converting URL to Blob URL:", error);
            }
          },
          resetState() {
            this.status = "";
            this.progress = 0;
            this.progressBarVisible = false;
            this.thumbnailVisible = false;
            this.downloadReady = false;
            this.thumbnailUrl = "";
            this.downloadLink = "";
            this.playlistUrl = "";
            this.subtitleLang = "";
            this.originalDownloadLink = "";
            this.postCid = "";
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
